
@{
    ViewData["Title"] = "Marca";
}

@section Estilos {
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" rel="stylesheet" />
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Marcas</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-users mr-1"></i> Lista de Marca
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nueva Marca</button>
            </div>
        </div>

        <hr />
        <table id="tabla" class="display cell-border" style=" width: 100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
@* la propiedad  =>  data-bs-backdrop="static" hace que cuando nosotros selecionemos fuera de el modal no se cierre el modal lo que hace
    que sea forzado selecionar la "x" o poner en el btn cerrar
*@

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Marca</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="text" value="0" />

                <div class="row g-1">

                    <div class="col-sm-6">
                        <label for="txtdescripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtdescripcion" placeholder=" ">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">

                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                @* MODAL DE ALERTA *@
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        var tabladata;
        var filaSeleccionada;
        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarMarca", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "descripcion" },

                {
                    "data": "activo",
                    "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>';
                        } else {
                            return '<span class="badge bg-danger">No</span>';
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "100px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/es-MX.json"
            }


        });

        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtdescripcion").val("");
            $("#cboactivo").val(1);
            //OCULTAR MENSAJE DE ERROR
            $("#mensajeError").hide();

            if (json != null) {
                $("#txtid").val(json.idMarca);
                $("#txtdescripcion").val(json.descripcion);
                $("#cboactivo").val(json.activo == true ? 1 : 0);
            }

            $('#FormModal').modal('show');


        }

        //FUNCION PARA LLAMAR AL BTN-EDITAR
        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            abrirModal(data)

        })

        //FUNCION PARA LLAMAR AL BTN-ELIMINAR
        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var marcasSelecionado = $(this).closest("tr");
            var data = tabladata.row(marcasSelecionado).data();

            console.log(data);

            Swal.fire({
                title: "Desea eliminar la marca?",
                text: "No podras revertir esta accion!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si,eliminar!",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Eliminado!",
                        text: "Usted a eliminado a esta marca.",
                        icon: "success"
                    });


                    jQuery.ajax({
                        url: '@Url.Action("EliminarMarca", "Mantenedor")' + '?id=' + data.idMarca,
                        type: "DELETE",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {
                                tabladata.row(marcasSelecionado).remove().draw();
                            } else {
                                console.log(data.mensaje)
                                Swal.fire({
                                    icon: "error",
                                    title: "Error",
                                    text: "No se pudo eliminar la marca!",
                                    text: data.mensaje

                                });
                            }

                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });




                }
            });


            console.log(data);
        })



        function Guardar() {

            var Marca = {
                idMarca: $("#txtid").val(),
                activo: $("#cboactivo").val() == 1 ? true : false,
                descripcion: $("#txtdescripcion").val()


            }
            console.log(Marca);
            console.log(JSON.stringify(Marca));
            jQuery.ajax({
                url: '@Url.Action("GuardarMarca", "Mantenedor")',
                type: "POST",
                data: JSON.stringify(Marca),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //OCULTAR LOADING
                    $(".modal-body").LoadingOverlay("hide");


                    // categoria NUEVO
                    if (Marca.idMarca == 0) {

                        if (data.resultado != 0) {

                            Marca.idMarca = data.resultado;
                            tabladata.row.add(Marca).draw(false);
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }


                    }
                    //USUARIO EDITAR
                    else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Marca).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }


                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error AJAX");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 1.65,
                        text: "Cargando....",
                        size: 20,
                        onresize: 14
                    })
                },
            });

        }


    </script>
}





