
@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" rel="stylesheet" />
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">

        <i class="fas fa-users mr-1"></i> Lista de Usuarios
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success">Crear Nuevo Usuario</button>
            </div>
        </div>
       
        <hr />
    <table id="tabla" class="display cell-border" style=" width: 100%">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>

@section scripts{
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>


            <script>

        var tabladata;

        jQuery.ajax({
            url : '@Url.Action("ListarUsuarios","Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
        success: function (data) {
            console.log(data)
            }
        })

        tabladata = $("#tabla").DataTable({
        responsive: true,
        ordering: false,
        "ajax":{
         url:'@Url.Action("ListarUsuarios","Home")',
         type:"GET",
         dataTyoe: "json"
         },


         "columns":[
         {"data":"Nombres"},
         {"data":"Apellidos"},
         {"data":"Correo"},
         {
          "data":"Activo","render":function(valor){
         if (valor){
         return '<span class="badge bg-sucess">Si</span>'
         }else{
         return '<span class="badge bg-danger">No</span>'
         }

       }
    },
         ]
        });


    </script>

}

